body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.main-bg {
    width: 100%;
    height: 600px; 
    background-image: url('/style/images/background_flower.jpg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}
.main-bg .container {
    padding-top: 100px; 
}
.line {
    width: auto;
    height: 4px;
    background-color: black; 
    
   
}
.about_us {
    width: 100%;
    background-image: url('/style/images/background_flower_aboutus.jpg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    padding: 40px 0; 
}

.info_us h2 {
    font-size: 36px; 
    margin-bottom: 20px;
    padding: 20px;
}
.flowers_images{
    padding: 20px;
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap;
}
.flowers_images {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flowers_images img {
    width: 100%;   
    max-width: 200px; 
    height: auto;    
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.flowers_images img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.info_products {
    font-size: 18px; 
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
.carousel {
    width: 100%;
    background-color: #6b7d87;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    overflow: hidden;
}

.carousel img {
    max-width: 500px;   
    max-height: 400px;  
    width: auto;        
    height: auto;       
    object-fit: contain; 
    margin: 0 auto;     
}
.contact_us {
    width: 100%;
    background-color: #333;
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    padding: 40px 0; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}