body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.main-bg {
    width: 100%;
    height: 600px; 
    background-image: url('/style/images/background_flower.jpg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}
.main-bg .container {
    padding-top: 100px; 
}
.line {
    width: auto;
    height: 4px;
    background-color: black; 
    
   
}
.about_us{
    background-color:grey;
}
.flowers_images{
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap;
}
.flowers_images img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
}